/**
 * @name NordCord Light
 * @description Siin's Discord Nord Theme, built off of DiscordRecolor.
 * @author SiinMusic
 * @version 1.0.0
 * @authorId 199253552592453632
 * @invite https://discord.gg/Vsejzba3ry
 * @donate https://www.paypal.me/TheSiinner
 * @source 
 * @updateUrl 
*/

@import url('https://fonts.googleapis.com/css2?family=arial:wght@100;300;400;500;700&display=swap');
@import url('https://mwittrien.github.io/BetterDiscordAddons/Themes/DiscordRecolor/DiscordRecolor.css');

:root {
  --accentcolor: 76,86,106;
  --accentcolor2: 180,142,173;
  --linkcolor: 94,129,172;
  --mentioncolor: 46,52,64;
  --textbrightest: 129,161,193;
  --textbrighter: 94,129,172;
  --textbright: 76,86,106;
  --textdark: 67,76,94;
  --textdarker: 59,66,82;
  --textdarkest: 46,52,64;
  --backgroundaccent: 216,222,233;
  --backgroundprimary: 236,239,244;
  --backgroundsecondary: 229,233,240;
  --backgroundsecondaryalt: 216,222,233;
  --backgroundtertiary: 216,222,233;
  --backgroundfloating: 216,222,233;
  --settingsicons: 1;
}